<div class="post-meta">
  <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" class="post-date">
    {{ .Date.Format "January 2, 2006" }}
  </time>
  
  {{ if .ReadingTime }}
  <span class="post-reading-time">
    {{ .ReadingTime }} min read
  </span>
  {{ end }}
  
  {{ if .WordCount }}
  <span class="post-word-count">
    {{ .WordCount }} words
  </span>
  {{ end }}
  
  {{ if .Params.tags }}
  <div class="post-tags">
    {{ range .Params.tags }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="post-tag">{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}
</div>

